<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SpiritualGiftServlet</servlet-name>
        <servlet-class>org.cref.bkl.SpiritualGiftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNameServlet</servlet-name>
        <servlet-class>org.cref.bkl.GetNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.cref.bkl.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNamePersonalityServlet</servlet-name>
        <servlet-class>org.cref.bkl.GetNamePersonalityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalityServlet</servlet-name>
        <servlet-class>org.cref.bkl.PersonalityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpiritualGiftServlet</servlet-name>
        <url-pattern>/SpiritualGiftServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNameServlet</servlet-name>
        <url-pattern>/GetNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNamePersonalityServlet</servlet-name>
        <url-pattern>/GetNamePersonalityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalityServlet</servlet-name>
        <url-pattern>/PersonalityServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
